<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title> {{appTitle}}</title>

    <!--     MINI css -->
    
   <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.3.7/dist/mini-default.min.css">
   -->
    <!--     Custom css -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
     
      <link rel="stylesheet" href="/style.css"> 
<!--     <link rel="stylesheet/less" type="text/css" href="/style.less" /> -->
<!--     <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script> -->
  </head>
  
  <body>
    <div class="container">
      <section class="navigation">
        <div class="nav-content">
          <h1 class="logo column">
              1K4,7
          </h1>
          <!-- Main navigation         -->
          <nav class="column nav-list">
            <ul>
              <li>
                <a class="" href="/">
                  <span class="nav__icon">
                    <i class="fas fa-home"></i>
                  </span>
                  <span class="nav__text">Home</span>
                </a>
              </li> 
              <li>
                <a class="" href="/transactions">
                  <span class="nav__icon">
                    <i class="fas fa-list"></i>
                  </span>
                  <span class="nav__text">Transakcje</span>
                </a>
              </li>
              <li>
                <a class="" href="/transaction/create">
                  <span class="nav__icon">
                    <i class="fas fa-plus"></i>
                  </span>
                  <span class="nav__text">Nowa</span>
                </a>
              </li>
              <li>
                <a class="" href="/categories">
                  <span class="nav__text">Kategorie</span>
                </a>
              </li>
              <li class="nav__user">
                <a  href="/logout">
                  <span class="nav__icon">
                    <i class="fa sign-out-alt"></i>
                  </span>
                  <span class="nav__text">Wyloguj</span>
                </a>
              </li>  
            </ul>
          </nav>
        </div>
      </section>          
      <!-- main content            -->
      <main class="column"> 
          {{{body}}}    
      </main>
    
  </div>
    
<!--     Bootrstaps scripts -->
   <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </body>
</html>
