<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title> {{appTitle}}</title>

    <!--     MINI css -->
    
   <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.3.7/dist/mini-default.min.css">
   -->
    <!--     Custom css -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
   <link rel="stylesheet" href="/style.css"> 
  </head>
  
  <body>
    <div class="container">
      <header>
        <div>
          <h1>
            1K4,7
          </h1>
          <ul>
            <li class="nav__user"><i class="fas fa-user"></i> {{user.name}}</li>
            <li> <a class="sublink-1" href="/logout">Wyloguj</a></li>  
          </ul>
        </div>
      </header>
      <div class="row">
        
        <!-- Main navigation         -->
        <nav class="column _15">
          <ul>
            <li><a class="" href="/"><i class="fas fa-home"></i> Home</a></li> 
            <li><a class="" href="/transactions"><i class="fas fa-list"></i> Statystyki</a></li>
            <li><a class="" href="/transaction/create"><i class="fas fa-plus"></i> Nowa..</a></li>
            <li><a class="" href="/categories">Kategorie</a></li>
          </ul>
        </nav>
          
      <!-- main content            -->
      <main class="column _85"> 
          {{{body}}}    
      </main>
    </div>
  </div>
    
<!--     Bootrstaps scripts -->
   <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </body>
</html>
