
<table class="table">
  <caption>Kategorie</caption>
  <thead>
    <tr>
      <th class="table__header" colspan="2">Wpływy</th>
    </tr>
  </thead>
  <tbody>
    {{#each data.incomes}}
    <tr>
      <td class="table__data">
        {{this.name}}
      </td> 
      <td class="table__data">
        <a href='{{this.url}}'>Edytuj</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
  <thead>
    <tr>
      <th class="table__header" colspan="2">Wydatki</th>
    </tr>
  </thead>
  <tbody>
    {{#each data.outcomes}}
    <tr>
      <td class="table__data">
        {{this.name}}
      </td> 
      <td class="table__data">
        <a href='{{this.url}}'>Edytuj</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

<!-- <button class="input-name"> -->
  <a href='category/create'>Utwórz nową..</a>  
<!-- </button> -->

    
  


