<h2>
  Kategoria: {{category.name}}
</h2>
<h3>
  Typ: {{category.type}}
</h3>
<br>
<a class="button" href='{{category.url}}/update'>Edytuj</a>
<a class="button" href='{{category.url}}/delete'>Usuń</a>