<h2>

</h2>

<table class='table'>
  <caption>
    Statystyki
  </caption>
  <thead>
    <tr>
      <th class="table__header">
      
      </th>
      <th class="table__header">
        I
      </th>
      <th class="table__header">
        II
      </th>
      <th class="table__header">
        III
      </th>
      <th class="table__header">
        IV
      </th>
      <th class="table__header">
        V
      </th>
      <th class="table__header">
        VI
      </th>
      <th class="table__header">
        VII
      </th>
      <th class="table__header">
        VIII
      </th>
      <th class="table__header">
        IX
      </th>
      <th class="table__header">
        X
      </th>
      <th class="table__header">
        XI
      </th>
      <th class="table__header">
        XII
      </th>
      
    </tr>
    
  </thead>
 
<!--   Wpływy -->
  
  {{#each stats.incomes.categories}}  
    <tr>
     {{#each this}}
       <td class="table__data">
         {{this}}
       </td>
      {{/each}}
    </tr>
  {{/each}}

  <!--  Posumowanie wpływów -->
  <thead>
    <tr>
      <th class="table__header">
        Wpływy
      </th>
    {{#each stats.incomes.monthSum}}
      <th class="table__header">
        {{this}}
      </th>
    {{/each}}
    </tr>
  </thead>
  
<!-- Wydatki    -->
  
  {{#each stats.outcomes.categories}}  
    <tr>
     {{#each this}}
      <td class="table__data">
        {{this}}
      </td>
      {{/each}}
    </tr>
  {{/each}}

  <!-- podsumowanie wydatków   -->
  <thead>
    <tr>
      <th class="table__header">
        Wydatki
      </th>
    {{#each stats.outcomes.monthSum}}
      <th class="table__header">
        {{this}}
      </th>
    {{/each}}
    </tr>
  </thead>

      
  
</table>