/* GRID  */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
}
.column{
  flex-basis: 100%
}

@media screen and (min-width: 768px){
  .column {
    flex: 1;
  }
  ._20{
    flex: 2;
  }
  ._80 {
    flex: 8
  }
}

/*  STYLE */
/* Main side navigation */
nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0px;
}
nav a:hover {
  background-color: lightyellow;
}
/* table styling*/
table {
  border-collapse: collapse;
  width: 100%;
}
td, th,
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}
td{
  text-align: center;
}
td:nth-child(3){
  text-align: right;
}
tr:hover {
  background-color: #ddd;
}
label{
  display: inline-block;
  width: 100px;
}
