
/*
HEX: #d5e1df

HEX: #e3eaa7

HEX: #b5e7a0

HEX: #86af49
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/* GRID  */

.container {
  display: flex;
/*   align-items: center; */
  flex-direction: column;
  max-width: 960px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  width: 100%;
}
.column{
  flex-basis: 100%;
}

@media screen and (min-width: 768px){
  .column {
    flex: 1;
  }
  ._15{
    flex: 1.5;
  }
  ._50 {
    flex: 5;
  }
  ._85 {
    flex: 8.5
  }
}

/*  STYLE */
.container {
  font-family: 'Montserrat', sans-serif;
}
/* Navigation */
.navigation{
/*   min-width: 100vw; */
  background-color: #3b3a30;
  color: #eaece5;
}

/* Main site navigation */
.nav-content {
  max-width: 960px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.logo{
  font-size: 1em;
  padding: 0 20px;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: flex-end;
  
/*   justify-content: space-between; */
}
nav li {
  cursor: pointer;
  
}
nav a {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
}
nav a, nav a:visited {
  color: #eaece5;
   transition: background .2s linear
}
nav a:hover {
  background-color: lightgrey;
  border-radius: 5px;
  color: black;
}
.nav__user{
/*   margin-left: auto; */
/*   margin-right: auto; */
}
.nav__text{
  display: none;
}

.nav__icon {
  font-size: 2em;
}

/* Duży EKRAN */
@media screen and (min-width: 768px){
  .nav-content{
    flex-direction: row;
  }
  .logo {
    font-size: 2.5em;
  }
  .nav__text {
    display: inline;
    font-size: 1.2em;
  }
  .nav__icon{
    display: none;
  }
}


/* MAIN */
main {
  padding: 10px;
  margin: 0;
  color: #3b3a30;
/*   background-color: #e3eaa7; */
  
}

/* table styling*/
table {
  border-collapse: collapse;
  width: 100%;
}
td, th{
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even){
  background-color: #f2f2f2;
}
td{
  text-align: center;
}
td:nth-child(3){
  text-align: right;
}
tr:hover {
  background-color: #ddd;
}
label{
  display: inline-block;
  width: 100px;
}
